<div class="ta-block-wrapper {{block-wrapper}}">
    <div class="ta-block-title">
        <h5>{{upper-case block-wrapper}}</h5>
    </div>
    <div class="ta-block-body">
        <div class="row">
            {{#each m in model}}
                {{#link-to 'user.product' m.slug}}
                    <div class="col-md-3 col-sm-6">
                        <div class="ta-ind-block-wrapper center">
                            <img src="{{m.image_src}}">
                        </div>
                    </div>
                {{/link-to}}
            {{/each}}
        </div>
    </div>
</div>
