@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
h1,h2,h3,h4,h5,h6,p,span,label,a,li,dd,th,td{
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}
ul{list-style-type: none;}
body{
	background: url(/assets/images/main-bk.jpg);
	background-size: cover;
	background-position: 0 -300px;
	padding-top: 60px;
	background-attachment: fixed;
}
input, textarea{
	background-color: rgba(112, 100, 93, 0.6) !important;
	color: #fff !important;
}
button{
	background-color: rgba(112, 100, 93, 1);
	color: #fff;
}
.center{text-align: center;}
.right{float: right}
.left{float: left;}
.no-padding{padding: 0;}
.no-margin{margin: 0;}
.price-display{text-align: right;}


/*************************/
/* APPLICATION */
/*************************/
nav.navbar {
  background-color: rgba(112, 100, 93, 0.6);
  margin-bottom: 0%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.navbar-default .navbar-brand{
	color: #fff;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #fff;
}
.table.table-ta th{
	color: #fff;
}
.table-ta-hover > tbody > tr:hover {
  background-color: rgba(112, 100, 93, 1);
}

/************************************************************/
/* COMPONENTS */
/************************************************************/
.ta-block-title{
	background-color: rgba(112, 100, 93, 0.6);
    height: 55px;
    width: 100%;
    padding: 5px 20px;
    margin-bottom: .2%;
}
.ta-block-title h5{
	background-repeat: no-repeat;
	display: block;
    font-weight: 100;
    font-size: 22px;
    height: 30px;
    padding-left: 37px;
}
.ta-ind-block-wrapper{
	background-color: rgba(112, 100, 93, 0.6);
    width: 100%;
    height: 170px;
    max-height: 170px;
    overflow: hidden;
    margin-bottom: 1%;
}
/***** CATEGORY DISPLAY  *****/
.ta-block-wrapper.categories .ta-block-title h5{
	background-image: url("/assets/images/category-icon.png");
}


/********** NEWEST PRODUCT DISPLAY **************/
.ta-block-wrapper.newest-products{
	margin-top: 5%;
}



/*******************************/
/*USER */
/*******************************/
#userWrapper{
	margin-top: .2%;
}
#sidebarWrapper{
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: rgba(112, 100, 93, 0.6);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#pageContentWrapper{
	width: 100%;
 	position: absolute;
 	padding: 15px;
}
.list-sidebar-menu{
	padding: 0;
	margin: 0 0 0 10px;
}
.list-sidebar-menu li{
	padding: 10px 0;
	border-bottom: solid 1px #ccc;
}
.list-sidebar-menu li a{
	font-size: 18px;
	font-weight: 200;
	color: #fff;
}
.user-page-header h5 {
  font-weight: 300;
  font-size: 35px;
}
.user-page-header h6 {
  font-weight: 100;
}


/**********************************/
/* USER DASHBOARD */
/**********************************/
.ta-block-wrapper.recent-news .ta-block-body{
	background: rgba(112, 100, 93, 0.6);
	padding: 10px 0; 
}
.dash-single-news{
	padding: 0 10px;
}
.dash-single-news p{
	font-weight: 300;
	padding: 0 20px;
}



/********************************/
/* USER PRODUCTS */
/********************************/
.ta-block-wrapper.products .ta-block-body{
	margin-top: 15px;
}
.product-display-image{
	background: rgba(112, 100, 93, 0.6);
	width: 100%;
}
.product-display-info{
	background: rgba(112, 100, 93, 0.6);
	margin: .3% 0 15px 0;
	padding: 2.5px 10px;
	width: 100%;
}
.product-display-info h6{
	font-size: 15px;
	font-weight: 300;
}
.products-padding{
	padding: 0 7.5px !important;
}

/***************************/
/* USER PRODUCT */
/****************************/
.single-product-image-wrapper, .single-product-name-wrapper, .single-product-detail-wrapper{
	background: rgba(112, 100, 93, 0.6);

}
.product-padding{
	padding: 0 .1%;
}
.single-product-name-wrapper{
	margin-top: -2%;
}
.single-product-name-wrapper h2{
	font-weight: 400;
    font-size: 45px;
    padding-left: 3%;
}
.ta-block-wrapper.product .ta-block-body{
	background: rgba(112, 100, 93, 0.6);
	padding: 5px 10px;
}
.single-product-description, .single-product-option-wrapper{
	border-bottom: solid 1px #ccc;
}
.single-product-description p{
	font-size: 16px;
	padding: 10px 0;
}
.single-product-option-wrapper .price-display{
	margin-right: 70%;
}
.single-product-option-info{
	margin-top: 5%;
}
#singleProductQuantityInput{
	background: rgba(112, 100, 93, 0.1);
	border-radius: 0;
	color: #fff;
}
.single-product-add-to-cart-wrapper{
	margin-top: 1%;
}
.single-product-add-to-cart-wrapper button{
	margin-top: 6%;
    background: rgba(112, 100, 93, 1);
    color: #fff;
    font-size: 18px;
}
.single-product-add-to-cart-wrapper button:hover{
	margin-top: 6%;
    background: #fff;
    color: rgba(112, 100, 93, 1);
    font-size: 18px;
}

/********************************/
/* USER CART */
/********************************/
.ta-block-wrapper.cart .ta-block-body{
	background: rgba(112, 100, 93, .6);
	padding: 10px 0 2% 0;
}
.ta-block-wrapper.cart table tbody td p.price-display{
	margin-right: 65%;
}
.checkout-info-total{
	border-top: solid 1px #ccc;
}
.checkout-ind-total{
	border-bottom: solid 1px #ccc;
	padding: 5px;
}
.checkout-ind-total h6{
	font-size: 15px;
}
.checkout-total-button{
	padding: 0 10px;
}
.checkout-total-button button{
	margin-top: 6%;
    background: rgba(112, 100, 93, 1);
    color: #fff;
    font-size: 16px;
    width: 100%;
    padding: 12px;
    border-radius: 0;
    border: solid 1px #ccc;
}
.ta-block-wrapper.shipping-container .ta-block-body{
	background: rgba(112, 100, 93, .6);
	margin-top: .23%;
	padding: 10px;
}


/***************************/
/* ORDERS */
/***************************/
.ta-block-wrapper.orders .ta-block-body{
	background: rgba(112, 100, 93, .6);
	padding: 10px 0;
}
.ta-block-wrapper.orders .ta-block-body table tbody td{
	font-size: 14px;
}
.ta-block-wrapper.orders .ta-block-body table tbody td p.price-display{
	margin-right: 75%;
}


/***************************/
/* ORDER */
/***************************/
.ta-block-wrapper.order .ta-block-body{
	background: rgba(112, 100, 93, .6);
	padding: 10px 0;
}
.ta-block-wrapper.order .ta-block-body table tbody td{
	font-size: 14px;
}
.ta-block-wrapper.order .ta-block-body table tbody td p.price-display{
	margin-right: 50%;
}
.ta-block-wrapper.comments .ta-block-body{
	background: rgba(112, 100, 93, .6);
	padding: 10px;
}











/**************************************/
/* ADMIN */
/**************************************/
#adminWrapper{
	margin-top: .2%;
}



/**********************************/
/* ADMIN ADD PRODUCT */
/*********************************/
.ta-block-wrapper.add-product .ta-block-body{
	background: rgba(112, 100, 93, .6);
	padding: 10px;
}



/*********************************/
/* FLASH MESSAGING */
/*********************************/
.flash_message-warning{
	background: #FA6464;
	padding: 5px;
}
.flash_message-success{
	background: #B5F777;
	padding: 10px;
}
.flash_queue dl dd{
	color: #fff;
	font-size: 16px;
}







/**************************************/
/* RESPONSIVNESS */
/**************************************/
@media (max-width: 1680px){

}
@media (max-width: 1600px){
	
}
@media (max-width: 1440px){
	
}
@media (max-width: 1366px){
	
}
@media (max-width: 1280px){

}
@media (max-width: 1024px){
	
}
@media (max-width: 800px){
	
}
@media (min-width: 801px){
	#userWrapper{
		padding-left: 250px;
	}
	#adminWrapper{
		padding-left: 250px;
	}
	#sidebarWrapper{
		width: 250px;
	}
	#pageContentWrapper{
		padding: 20px;
 		position: relative;
	}
}
@media (max-width: 768px){
	
}
@media (max-width: 603px){
	.welcome-header-message{
		display: none !important;
	}
}
@media (max-width: 533px){
	
}
@media (max-width: 414px){
	
}
@media (max-width: 375px){
	
}
