<div id="dashboardWrapper">
	<div class="user-page-header dashboard">
		<div class="row">
			<div class="col-md-5">
				<h5>Dashboard</h5>
                <h6>Welcome to the Island Buyers Club Experience</h6>
			</div>
		</div>
	</div> <!-- END DASHBOARD HEADER -->

	<div class="user-page-content dashboard">
		<div class="row">
			<div class="col-md-12 col-lg-8 col-sm-12">
				<div class="ta-block-wrapper categories">
				    <div class="ta-block-title">
				        <h5>Categories</h5>
				    </div>
				    <div class="ta-block-body">
				        <div class="row">
				            {{#each m in model.categories}}
				                {{#link-to 'user.category' m.slug}}
				                    <div class="col-md-3 col-sm-6">
				                        <div class="ta-ind-block-wrapper center">
				                            <img src="{{m.image_src}}">
				                        </div>
				                        <div class="ta-extra">
				                        	<h6>{{m.name}}</h6>
				                        </div>
				                    </div>
				                {{/link-to}}
				            {{/each}}
				        </div>
				    </div>
				</div>
				{{#ta-block model=model.newest_products block-wrapper="newest-products" title="newest products"}}{{/ta-block}}
			</div>
			<div class="col-md-12 col-lg-4 col-sm-12">
				<div class="ta-block-wrapper recent-news">
					<div class="ta-block-title">
						<h5>Recent News</h5>
					</div>
					<div class="ta-block-body">
						<div class="row">
							<div class="col-sm-12">
								<div class="dash-single-news">
				                    <p>Beta launch of Island Buyers Club coming soon!</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>A new comment was left on order number 6560.</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>We will be having a opening month raffle with a chance to win prizes</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>Check out all the new products we have in stock</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>Have any questions want to improve the site? Check out our feedback section</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>Check out all the ladders we have in stock <a href="#">here</a></p>
				                </div>
				                <div class="dash-single-news">
				                    <p>Please check out all of our products</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>We thank you for using Island Buyers Club for your hardware wholesale choice!</p>
				                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>