<div id="dashboardWrapper">
	<div class="user-page-header dashboard">
		<div class="row">
			<div class="col-md-5">
				<h5>Home</h5>
                <h6>Welcome to the Island Buyers Club Experience</h6>
			</div>
		</div>
	</div> <!-- END DASHBOARD HEADER -->

	<div class="user-page-content dashboard">
		<div class="row">
			<div class="col-md-12 col-lg-8 col-sm-12">
				<div class="ta-block-wrapper categories">
				    <div class="ta-block-title">
				        <h5>Categories</h5>
				    </div>
				    <div class="ta-block-body">
				        <div class="row">
				            {{#each m in model.categories}}
				                {{#link-to 'user.category' m.slug}}
				                    <div class="col-md-3 col-sm-6">
				                        <div class="ta-ind-block-wrapper center">
				                            <img src="{{m.image_src}}">
				                        </div>
				                        <div class="ta-extra">
				                        	<h6>{{m.name}}</h6>
				                        </div>
				                    </div>
				                {{/link-to}}
				            {{/each}}
				        </div>
				    </div>
				</div>
				<div class="ta-block-wrapper newest-products">
				    <div class="ta-block-title">
				        <h5>Products</h5>
				    </div>
				    <div class="ta-block-body">
				        <div class="row">
				            {{#link-to 'user.product' 'fiberglass-step-ladder-type-1aa3152'}}
				                    <div class="col-md-3 col-sm-6">
				                        <div class="ta-ind-block-wrapper center">
				                            <img src="https://island-api.herokuapp.com/media/product_images/ladder-red-open.png">
				                        </div>
				                    </div>
				            {{/link-to}}
				            {{#link-to 'user.product' 'premium-sander-thin-set8912'}}
				                    <div class="col-md-3 col-sm-6">
				                        <div class="ta-ind-block-wrapper center">
				                            <img src="https://island-api.herokuapp.com/media/product_images/premium-sander-thin-set.png">
				                        </div>
				                    </div>
				            {{/link-to}}
				            {{#link-to 'user.product' 'quincy-patina2121'}}
				                    <div class="col-md-3 col-sm-6">
				                        <div class="ta-ind-block-wrapper center">
				                            <img src="https://island-api.herokuapp.com/media/product_images/glass-1.png">
				                        </div>
				                    </div>
				            {{/link-to}}
				            {{#link-to 'user.product' 'storm-trooper5410'}}
				                    <div class="col-md-3 col-sm-6">
				                        <div class="ta-ind-block-wrapper center">
				                            <img src="https://island-api.herokuapp.com/media/product_images/storm-trooper.png">
				                        </div>
				                    </div>
				            {{/link-to}}
				            {{#link-to 'user.product' 'aluminum-step-ladder-type-1a9095'}}
				                    <div class="col-md-3 col-sm-6">
				                        <div class="ta-ind-block-wrapper center">
				                            <img src="https://island-api.herokuapp.com/media/product_images/ladder-silver-open.png">
				                        </div>
				                    </div>
				            {{/link-to}}
				            {{#link-to 'user.product' 'river-rok2020'}}
				                    <div class="col-md-3 col-sm-6">
				                        <div class="ta-ind-block-wrapper center">
				                            <img src="https://island-api.herokuapp.com/media/product_images/river-rok.png">
				                        </div>
				                    </div>
				            {{/link-to}}
				            {{#link-to 'user.product' '6p-door322151'}}
				                    <div class="col-md-3 col-sm-6">
				                        <div class="ta-ind-block-wrapper center">
				                            <img src="https://island-api.herokuapp.com/media/product_images/door-1.png">
				                        </div>
				                    </div>
				            {{/link-to}}
				            {{#link-to 'user.product' 'wind-and-water-seal4470'}}
				                    <div class="col-md-3 col-sm-6">
				                        <div class="ta-ind-block-wrapper center">
				                            <img src="https://island-api.herokuapp.com/media/product_images/wind-and-water-seal.png">
				                        </div>
				                    </div>
				            {{/link-to}}
				        </div>
				    </div>
				</div>
			</div>
			<div class="col-md-12 col-lg-4 col-sm-12">
				<div class="ta-block-wrapper recent-news">
					<div class="ta-block-title">
						<h5>Recent News</h5>
					</div>
					<div class="ta-block-body">
						<div class="row">
							<div class="col-sm-12">
								<div class="dash-single-news">
				                    <p>Beta launch of Island Buyers Club coming soon!</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>A new comment was left on order number 6560.</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>We will be having a opening month raffle with a chance to win prizes</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>Check out all the new products we have in stock</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>Have any questions want to improve the site? Check out our feedback section</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>Check out all the ladders we have in stock <a href="#">here</a></p>
				                </div>
				                <div class="dash-single-news">
				                    <p>Please check out all of our products</p>
				                </div>
				                <div class="dash-single-news">
				                    <p>We thank you for using Island Buyers Club for your hardware wholesale choice!</p>
				                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>