<div id="productsPageWrapper">
	<div class="row">
		<div class="col-sm-12">
			<div id="productsBar">
				<h6>Island Buyers Club</h6>
			</div>
			<div id="productsDisplay">
				{{#each model as |product|}}
					{{#link-to 'user.product' product.slug}}
						<div class="col-md-3">
							<div class="product-display-wrapper">
								<div class="product-display-image">
									<img src="{{product.image_src}}">
								</div>
								<div class="product-display-info">
	                                <div class="row">
	                                    <div class="col-sm-8">
	                                        <h6>{{upper-case product.name}}</h6>
	                                    </div>
	                                    <div class="col-sm-4">
	                                     	{{#each product.categories as |category|}}
	                                        	<h6 class="product-display-categories">{{category.name}}</h6>
	                                    	{{/each}}
	                                    </div>
	                                </div>    
	                            </div>					
							</div>
						</div>
					{{/link-to}}
				{{/each}}
			</div>
		</div>
	</div>
</div>