<div id="productsPageWrapper">
	<div class="row">
		<div class="col-sm-12">
			<div class="ta-block-wrapper products">
				<div class="ta-block-title">
					<h5>Products</h5>
				</div>
				<div class="ta-block-body">
					<div class="row">
						{{#each model as |product|}}
							{{#link-to 'user.product' product.slug}}
								<div class="col-md-3 products-padding">
									<div class="product-display-wrapper">
										<div class="product-display-image center">
											<img src="{{product.image_src}}">
										</div>
										<div class="product-display-info">
			                                <div class="row">
			                                    <div class="col-sm-12">
			                                        <h6 class="left">{{upper-case product.name}}</h6>
			                                    </div>
			                                </div>    
			                            </div>					
									</div>
								</div>
							{{/link-to}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>